<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<title><g:layoutTitle default="Facebook Filter" /></title>
	<g:layoutHead />
    <asset:javascript src="application.js"/>
    <asset:stylesheet href="application.css"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="web-layout">
	<g:render template="/navbar"/>

	<div class="container">
		<g:layoutBody />
		<hr/>
		<g:render template="/footer" />
	</div>
</body>
</html>